<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./framework/css/bootstrap.css">
    <title>Document</title>
</head>
<body>
    <div ng-app="myApp">
        <div ng-controller="FirstCtrl">
            <input type="text" ng-model="data.message">
            <h1>{{data.message}}</h1>
        </div>
        <div ng-controller="SecondCtrl">
            <input type="text" ng-model="data.message">
            <h1>{{data.message}}</h1>
            <h1>{{data.message | reverse}}</h1>
        </div>
        <div ng-controller="listCtrl">
            <input type="text" ng-model="search.a">
            <table>
                <tr ng-repeat="item in list | filter:search">
                    <td>{{item.a}}</td>
                    <td>{{item.b}}</td>
                </tr>
            </table>
        </div>
        <div enter="bg-success" leave>
            你本来就很丑
        </div>
        <!--directive controller 复用-->
        <superhero power flash strength>超人的三个力量</superhero>
        <superhero power flash>超人的两个力量</superhero>
        <!--directive 的 & 传递-->
        <div ng-controller="doJob">
            <kid done="do(job)"></kid> <!--传递给done的仅仅是个引用, do的参数并不重要, 只是个名字, 在directive 中需要将参数名作为键传递一个对象-->
        </div>
    </div>
    <script src="./framework/js/angular.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>