<div ng-controller="indexCtrl">
    <button-with-name name="名字从首页传入"></button-with-name>
    <h3>{{message}}</h3>
    <div ng-repeat="item in list">
        姓名: {{item.name}}, 年龄: {{item.age}}
    </div>
</div>